body{
    margin: 0;
    font-family: sans-serif;
}

.principal{
    display: flex;
}

.sidebar{
    background: linear-gradient(to bottom, rgb(33, 0, 87), rgb(72, 40, 255));
    width: 25%;
    height: 100vh;
    position: fixed;
}

.contenido{
    width: 75%;
    margin-left: 25%;
}

.foto-perfil{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100px;
    margin: 0 0 5px 0;
}

.foto-perfil img{
    width: 300px;
    image-resolution: 300px;
}

#nombre{
    font-size: 26px;
    margin: 5px 0 0 0;
    color: white;
}

#cargo{
    font-size: 14px;
    margin: 5px 0 0 0;
    font-weight: 200;
    color: white;
}

.btnForm.btn-outline{
    padding: 0 30px;
    height: 40px;
    margin: 5px 0;
    width: 100%;
    font-weight: 300;
    font-size: 11px;
    vertical-align: middle;
    border: 0 solid grey;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2.5px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    outline: none;
    transition: 0.2s ease-in;
}

.btnForm.btn-outline:hover{    
    background: white;
    color: rgb(126, 126, 126);
}

.seccion{
    height: 100vh;
    min-height: 100vh;
    border: 1px solid black;
}

.articulo{
    margin: 25px;
}

.encabezado h3{
    margin: 0;
}

.pie h6{
    float: right;
}

.pie .referencias{
    font-size: 12px;
    text-align: end;
}

@media (max-width: 720px){
    .principal{
        display: block;
    }

    .sidebar{
        width: 100%;
        position: relative;
    }

    .contenido{
        width: 100%;
        margin: 0;
    }
}


