.d-flex{
    display: flex;
}

.d-flex.dir{
    flex-direction: column;
}

.jc-center{
    justify-content: center;
}

.jc-around{
    justify-content: space-around;
}

.jc-between{
    justify-content: space-between;
}

.jc-sevenly{
    justify-content: space-evenly;
}

.jc-end{
    justify-content: flex-end;
}

.ai-center{
    align-items: center;
}

.ai-end{
    align-items: flex-end;
    
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.w-50{
    width: 50%;
}

.h-50{
    height: 50%;
}

.fila{
    display: flex;
    width: 100%;
}

.columna{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.columna.col1{
    width: 10%;
}
.columna.col2{
    width: 20%;
}
.columna.col3{
    width: 30%;
}
.columna.col4{
    width: 40%;
}
.columna.col5{
    width: 50%;
}
.columna.col6{
    width: 60%;
}
.columna.col7{
    width: 70%;
}
.columna.col8{
    width: 80%;
}
.columna.col9{
    width: 90%;
}
.columna.col10{
    width: 100%;
}



.m-1{
    margin: 5px;
}

.m-2{
    margin: 10px;
}

.m-3{
    margin: 15px;
}

